<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>DeviceManage</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		
	</welcome-file-list>
                <servlet>
		<servlet-name>AddDeviceServlet</servlet-name>
		<servlet-class>control.AddDeviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddDeviceServlet</servlet-name>
		<url-pattern>/DeviceView/AddDeviceServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>SelectDeviceServlet</servlet-name>
		<servlet-class>control.SelectDeviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectDeviceServlet</servlet-name>
		<url-pattern>/DeviceView/SelectDeviceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateDeviceServlet</servlet-name>
		<servlet-class>control.UpdateDeviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateDeviceServlet</servlet-name>
		<url-pattern>/DeviceView/UpdateDeviceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteDeviceServlet</servlet-name>
		<servlet-class>control.DeleteDeviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteDeviceServlet</servlet-name>
		<url-pattern>/DeviceView/DeleteDeviceServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>CheckLoginServlet</servlet-name>
		<servlet-class>control.CheckLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLoginServlet</servlet-name>
		<url-pattern>/CheckLoginServlet</url-pattern>
	</servlet-mapping>
                 <servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>control.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>CheckManageLoginServlet</servlet-name>
		<servlet-class>control.CheckManageLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckManageLoginServlet</servlet-name>
		<url-pattern>/CheckManageLoginServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>control.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/StudentView/AddStudentServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>SelectStudentServlet</servlet-name>
		<servlet-class>control.SelectStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectStudentServlet</servlet-name>
		<url-pattern>/StudentView/SelectStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>control.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/StudentView/UpdateStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>control.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/StudentView/DeleteStudentServlet</url-pattern>
	</servlet-mapping>
	            <servlet>
		<servlet-name>AddSuserServlet</servlet-name>
		<servlet-class>control.AddSuserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSuserServlet</servlet-name>
		<url-pattern>/SuserView/AddSuserServlet</url-pattern>
	</servlet-mapping>
                <servlet>
		<servlet-name>SelectSuserServlet</servlet-name>
		<servlet-class>control.SelectSuserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectSuserServlet</servlet-name>
		<url-pattern>/SuserView/SelectSuserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateSuserServlet</servlet-name>
		<servlet-class>control.UpdateSuserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSuserServlet</servlet-name>
		<url-pattern>/SuserView/UpdateSuserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteSuserServlet</servlet-name>
		<servlet-class>control.DeleteSuserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSuserServlet</servlet-name>
		<url-pattern>/SuserView/DeleteSuserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RepairSelectStudentServlet</servlet-name>
		<servlet-class>control.RepairSelectStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairSelectStudentServlet</servlet-name>
		<url-pattern>/StudentView/RepairSelectStudentServlet</url-pattern>
	</servlet-mapping>
</web-app>